{
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "printWidth": 100,
  "importOrder": [
    "^@Components/(.*)$",
    "^@Hooks/(.*)$",
    "^@Interfaces/(.*)$",
    "^@Lib/(.*)$",
    "^@Helpers/(.*)$",
    "^@Constants/(.*)$",
    "^@Assets/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true
}
